body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
h1,h2,h3,h4,h5,h6,p,strong,p,label {
    font-family:"Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul {
    list-style: none;
}
b {
    color: #696969;
}
a {
    text-decoration: none;
    color: #3f51b5;
}
h4 {
    font-size: 16px;
    margin: 0;
    font-weight: 800;
    text-decoration-line: underline;
}
h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #39a767;
    color: #fff;
    margin: 0;
    padding: 12px;
}
strong:hover{
    color: #ffc107;
    transition: 1s;
    box-shadow: inset 0 -2px #ffc107;
}
h4,h3,h2,strong {
    transition: 1s;
    cursor: pointer;
}
strong {
    color: #3f51b5;
}
h3 {
    color: #3f51b5;
}
tr {
    display: grid;
    box-shadow: 0 0px 2px rgb(0 0 0 / 35%);
    margin-bottom: 10px;
    width: 100%;
}
table {
    padding: 5px;
    width: 100%;
}
th {
    text-align: left;
    color: #3949a3;
    padding: 5px;
    transition: 1s;
}
th:hover {
    cursor: pointer;
    color: #ffc107;
    transition: 1s;
    box-shadow: inset 0 -1px #ffc107;
}
td {
    padding: 5px;
    color: #4a4a4a;
}
/* aside style */
aside.aside {
    float: right;
    width: 30%;
    height: 100%;
    background-color: #fff;
}
/* début header */
.header {
    background-color: #39a767;
    padding: 10px;
    height: 300px;
}
.text-content p {
    line-height: 20px;
    color: #473f47;
    font-weight: 100;
}

.text-content {
    color: white;
    float: left;
}
a.btn {
    color: #ffffff;
    border: 1px solid #fc682d;
    background-color: #fc682d;
    border-radius: 2px;
    font-size: 18px;
    transition: 1s;
    font-weight: 100;
    padding: 10px;
}
.logo-content {
    float: right;
    padding: 0;
    margin: 0;
}
.logo-content img {
    max-width: 82%;
    position: relative;
    bottom: 105px;
}
.text-content {
    margin-left: 60px;
    max-width: 690px;
    font-size: 23px;
}
a.btn:hover {
    background-color: #dbefe3;
    color: #2a7d4d;
    border: 1px solid #dbefe3;
    transition: 1s;
}
/* fin header */

/* début haut Navbar */
.navbar {
    box-shadow: 0 0px 3px rgb(0 0 0 / 50%);
    background-color: #fff;
    height: 55px;
}
ul.menu {
    max-width: 1150px;
    margin: 0px 15px;
    line-height: 32px;
}
.menu li {
    list-style: none;
}
.menu li a {
    transition: 1s;
    color: rgb(158 158 158);
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 12px 18px;
    font-size: 15px;
    font-family: sans-serif;
}
.menu li:hover {
    transition: 1s;
}

.menu > li {
    margin:0;
    margin-right: -4px;
    display: inline-block;
    transition: 1s;
}
.menu li:hover .submenu, .submenu li:hover {
    display: block;
}
.submenu li {
    margin: 2px;
    position: relative;
    cursor: pointer;
    float: left;
}
.submenu li a{
    color: #39a767;
}
.submenu {background-color: #ffffff;border-radius: 5px;position: absolute;width: 1010px;z-index: 1;display: none;}
.menu > li:hover > a {
    color: #39a767!important;
}
.arrow {
    border: solid rgb(158 158 158);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    top: -2px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    left: -10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.btn-right {
    float: right;
    position: relative;
    top: -54px;
    right: 65px;
    z-index: 1000;
}
.btn-right ul li {
    float: left;
    margin-left: 5px;
}
.btn-right a {
    border: 1px solid #fc682d;
    border-radius: 2px;
    padding: 8px;
    transition: 1s;
    cursor: pointer;
    color: #fc682d;
}
.btn-right a:hover {
    background-color:#39a767;
    transition: 1s;
    border: 1px solid #39a767;
    cursor: pointer;
    color:white;
}
/* fin haut Navbar */

/* main style */
main.main {
    float: left;
    width: 100%;
    margin: 0;
}

/* footer style
footer.footer {
    position: relative;
    top: 125px;
    width: 100%;
    display: flex;
    background-color: #3f51b5;
    box-shadow: 0 0px 30px rgb(0 0 0 / 50%);
}
address {
    color: #3f51b5;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    box-shadow: 0 0px 10px rgb(0 0 0 / 30%);
    background-color: white;
    padding: 12px;
    margin: 15px;
    border-radius: 8px;
    width: 35%;
    height: 6em;
    position: relative;
    left: 20%;
    bottom: 95px;
}
address a {
    color: #464646;
}
.footer-logo {
    color: #3f51b5;
    font-size: 32px;
    text-align: center;
    box-shadow: 0 0px 10px rgb(0 0 0 / 30%);
    background-color: white;
    padding: 5px;
    margin: 10px;
    line-height: 4;
    height: 140px;
    border-radius: 8px;
    width: 25%;
    position: relative;
    left: 16%;
    bottom: 108px;
}

/* top style */
span.top a {
    color: #fff;
    background-color: #3f51b5;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    float: right;
    position: relative;
    top: -30px;
    transition: 1.5s;
}
span.top a:hover {
    background-color: #ffc107;
    transition: 1.5s;
}
span.top {
    margin: 40px 0 0 0;
    display: block;
}


/********* start footer ********/
footer.footer {
    background-color: #39a767;
    margin-top: 35px;
    width: 100%;
    float: left;
}
.footer-col {
    width: 25em;
    float: left;
    height: 12em;
    padding: 35px 22px 35px 22px;
}
.footer-copyright {
    float: left;
    width: 100%;
    background-color: #297a4b;
    padding: 5px 0 5px 0;
}
.footer-col img {
    max-width: 360px;
    position: relative;
    bottom: 120px;
}
.footer-col h4 {
    color: #fff;
}
.footer-col p {
    color: #fff;
    width: 100%;
}
.footer-col ul li a {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 6px;
    margin: 5px 5px 0px 2px;
    font-size: 16px;
    transition: 1s;
}
.footer-col ul li a:hover {
    color: #fff;
    border: 1px solid #fc682d;
    background-color: #fc682d;
    transition: 1s;
}
.footer-col ul {
    padding: 0;
    margin-top: 25px;
}
.footer-col ul li {
    float: left;
    margin-bottom: 20px;
}
.footer-copyright h4 {
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: 100;
}

/********* end footer ********/

article.left-article {
    width: 25%;
    float: left;
}
article.left-article img {
    max-width: 100%;
    position: relative;
    left: 0;
    top: 25px;
}
article.right-article {
    width: 70%;
    float: right;
    margin-right: 60px;
    background-color: #fafafa;
}
article.right-article h3 {
    color: #fc682d;
    font-size: 25px;
}
article.right-article p {
    color: #222;
    font-size: 16px;
}
article.right-article footer {
    margin-top: 60px;
}
article.right-article a {
    color: #fff;
    font-size: 20px;
    background-color: #fc682d;
    transition: 1s;
    padding: 10px;
    border-radius: 4px;
}
article.right-article a:hover {
    background-color: #39a767;
    transition: 1s;
}

/* début certification */
section.certification-section p {
    text-align: center;
    color: #fff;
    font-size: 35px;
    margin-top: 45px;
}
section.certification-section {
    background-color: #39a767;
    height: 200px;
    line-height: 1;
    max-width: 100%;
    padding: 30px;
    /* margin-top: 80px; */
    float: left;
}
/* fin certification */

/* début formation */
section.formation-section {
    width: 100%;
    float: left;
    margin-top: 50px;
}
section.formation-section h3 {
    text-align: center;
    color: #fc682d;
    font-size: 22px;
    font-weight: bold;
}
article.left-formation {
    float: left;
    width: 25%;
    padding: 0;
    margin: 10px;
    position: relative;
    left: 11%;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0px 3px rgb(0 0 0 / 20%);
}
article.right-formation {
    width: 25%;
    float: right;
    padding: 0;
    margin: 10px;
    position: relative;
    right: 13%;
    background-color: #fff;
    box-shadow: 0 0px 3px rgb(0 0 0 / 20%);
}
article.left-formation p {
    padding: 10px;
    color: #222;
    font-size: 15px;
}
article.left-formation h3 {
    text-align: center;
}
article.right-formation h3 {
    text-align: center;
}
section.formation-section a {
    color: #fff;
    padding: 15px;
    border-radius: 0px;
    text-align: center;
    width: 100%;
}
section.formation-section h2 {
    text-align: center;
    color: #fc682d;
    font-size: 30px;
    /* text-decoration: underline; */
    font-weight: bold;
    background-color: transparent;
}
section.formation-section footer {
    background-color: #fc682d;
    padding: 10px;
    text-align: center;
}
article.right-formation p {
    padding: 10px;
    color: #222;
    font-size: 15px;
}
article.left-formation footer {
    margin-top: 48px;
}
/* fin formation */

/* début devops section */
section.devops-section {background-color: #39a767;height: 280px;line-height: 1;max-width: 100%;padding: 30px;margin-top: 80px;float: left;}
section.devops-section h3 {
    color: #fff;
    text-align: center;
    font-size: 30px;
}
section.devops-section p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
}
article.canter-formation {
    float: left;
    width: 20%;
    padding: 0;
    margin: 10px;
    position: relative;
    left: 13%;
}
section.formation-section a:hover {
    background-color: #39a767;
    transition: 1s;
}

section.formation-section a {
    background-color: #fc682d;
    border-radius: 2px;
    transition: 1s;
    padding: 20px;
}
/* fin formation section */

/* début rend section */
section.rend-section {
    background-image: url('../images/style/experts-devops-syloe.jpg');
    background-position: 50% -206.412px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    float: left;
    width: 100%;
    margin-top: 80px;
}
article.rend-absolute-section {
    position: absolute;
    background-color: #000000b3;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}

article.rend-absolute-section h3 {
    color: #fff;
    width: 50%;
    position: relative;
    left: 26%;
    font-size: 22px;
    margin-top: 60px;
}

article.rend-absolute-section a {
    background-color: #fc682d;
    border-radius: 2px;
    transition: 1s;
    padding: 20px;
    color: #fff;
    position: relative;
    top: 30px;
}

article.rend-absolute-section p {
    width: 50%;
    position: relative;
    left: 26%;
    font-size: 20px;
    margin-top: 30px;
}
article.rend-absolute-section a:hover {
    background-color: #39a767;
    transition: 1s;
}
/* fin rend section */

/* début formateur section */
section.teach-section h3 {
    text-decoration: none;
}
section.teach-section {
    margin: 40px 40px 0 0;
    float: left;
}
section.teach-section footer {
    margin-top: 25px;
}

section.teach-section img {
    max-width: 100%;
    position: relative;
    left: 115px;
    top: 25px;
}
/* fin formateur section */

/* début contact section */
section.contact-section {
    background-color: #ffffff;
    height: 410px;
    line-height: 1;
    padding-top: 60px;
    padding-bottom: 60px;
    /* margin-top: 80px; */
    width: 100%;
    float: left;
}

section.contact-section h3 {
    color: #fc682d;
    text-align: center;
    font-size: 22px;
    /* text-decoration: underline; */
}
section.contact-section {
    text-align: center;
}

section.contact-section form {
    /* width: 50%; */
    /* height: 80%; */
    /* left: 45%; */
    /* padding: 15px; */
    /* border-radius: 3px; */
}

.contact-row {
    width: 99%;
    padding: 5px;
}

.contact-row label {
    width: 5vw;
    float: left;
    line-height: 2;
    color: #222222bf;
    text-align: left;
}

input[type="email"] {
    border: 1px solid #22222226;
    height: 40px;
    width: 700px;
    padding-left: 10px;
}

input[type="text"] {
    border: 1px solid #22222226;
    height: 40px;
    width: 700px;
    padding-left: 10px;
}

.contact-row textarea {
    border: 1px solid #22222226;
    height: 130px;
    width: 700px;
    padding-left: 10px;
}

section.contact-section button {
    padding: 10px;
    float: right;
    margin: 15px 35px 0 0;
    background-color: #fc682d;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 2px;
    transition: 1s;
}
section.contact-section button:hover {
    transition: 1s;
    background-color: #39a767;
    cursor: pointer;
}
article.left-contact {
    float: left;
    width: 38%;
}

article.right-contact {
    float: right;
    width: 60%;
    margin: 10px;
}

article.left-contact img {
    max-width: 100%;
    position: relative;
    bottom: 140px;
}
/* fin contact section */

/* début modalites section */
section.modalites-section {
    background-color: #39a767;
    height: 480px;
    line-height: 1;
    max-width: 100%;
    padding: 30px;
    margin-top: 80px;
    float: left;
}

section.modalites-section h3 {
    color: #fff;
    text-align: center;
    font-size: 25px;
}

section.modalites-section p {
    text-align: left;
    color: #222;
    padding: 10px;
}
article.modalites-article {
    float: left;
    width: 25%;
    padding: 0;
    margin: 10px;
    position: relative;
    left: 11%;
    border-radius: 2px 50px 2px 2px;
    background-color: #fff;
    box-shadow: 0 0px 3px rgb(0 0 0 / 20%);
}
article.modalites-article h3 {
    color: #39a767;
}

article.modalites-article a {
    background-color: #fc682d;
    border-radius: 2px;
    transition: 1s;
    padding: 15px;
    color: #fff;
}

article.modalites-article a:hover {
    transition: 1s;
    background-color: #39a767;
}

article.modalites-article footer {
    background-color: #fc682d;
    padding: 10px;
    text-align: center;
}

section.modalites-section p {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

article.modalites-article p {
    font-size: 16px;
    color: #222;
    text-align: left;
    padding: 10px;
}
section.modalites-section h2 {
    font-size: 25px;
    /* text-decoration: underline; */
}
/* fin modalites section */

/* début rechercher section */
button.rechercher {
    color: #ffffff;
    border: 1px solid #fc682d;
    background-color: #fc682d;
    border-radius: 2px;
    font-size: 18px;
    transition: 1s;
    font-weight: 100;
    padding: 8px;
    position: relative;
    right: 5px;
    top: 1px;
}

section.rechercher-section form {
    width: 65%;
    text-align: center;
    position: relative;
    left: 18%;
}
section.rechercher-section {
    margin-bottom: 50px;
}
button.rechercher:hover {
    background-color: #39a767;
    transition: 1s;
    cursor: pointer;
    border: 1px solid #39a767;
}
/* fin rechercher section */

/* début login section */
section.login-section {
    position: relative;
    left: 30%;
    background-color: #fff;
    box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
    width: 40%;
    float: left;
    margin-bottom: 50px;
}

section.login-section input[type="text"] {
    width: 100%;
}
section.login-section input[type="password"] {
    width: 100%;
}

section.login-section label {
    font-size: 18px;
    color: #222;
    line-height: 2;
}

button.login {
    color: #ffffff;
    border: 1px solid #fc682d;
    background-color: #fc682d;
    border-radius: 2px;
    font-size: 18px;
    transition: 1s;
    font-weight: 100;
    padding: 8px;
    /* position: relative; */
    float: right;
    /* right: 5px; */
    /* top: 1px; */
    margin: 15px 0 20px 0;
}
button.login:hover {
    background-color:#39a767;
    border: 1px solid #39a767;
    transition:1s;
    cursor: pointer;
}
section.login-section form {
    padding: 15px;
}
span.forgot-password {
    position: relative;
    top: 25px;
}

span.forgot-password a {
    color: #222;
    transition: 1s;
}

span.forgot-password a:hover {
    color: #fc682d;
    transition: 1s;
}
section.login-section header {
    background-color: #fc682d;
    padding: 15px;
}

section.login-section h4 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
/* fin login section */

/* début signup section */
section.signup-section {
    position: relative;
    left: 30%;
    background-color: #fff;
    box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
    width: 40%;
    float: left;
    margin-bottom: 50px;
}

section.signup-section header {
    background-color: #fc682d;
    padding: 15px;
}

section.signup-section h4 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

section.signup-section form {
    padding: 15px;
}

section.signup-section label {
    font-size: 18px;
    color: #222;
    line-height: 2;
}

section.signup-section input[type="text"] {
    width: 100%;
}

section.signup-section input[type="email"] {
    width: 100%;
}

button.signup:hover {
    background-color: #39a767;
    border: 1px solid #39a767;
    transition: 1s;
    cursor: pointer;
}

button.signup {
    color: #ffffff;
    border: 1px solid #fc682d;
    background-color: #fc682d;
    border-radius: 2px;
    font-size: 18px;
    transition: 1s;
    font-weight: 100;
    padding: 8px;
    /* position: relative; */
    float: right;
    /* right: 5px; */
    /* top: 1px; */
    margin: 15px 0 20px 0;
}

span.have-account a:hover {
    color: #fc682d;
    transition: 1s;
}

span.have-account a {
    color: #222;
    transition: 1s;
}

span.have-account {
    position: relative;
    top: 25px;
}

section.signup-section select {
    width: 100%;
    border: 1px solid #22222226;
    height: 30px;
}

/* fin signup section */


/* début media screen 600px =< */
@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }
  .text-content {
	  font-size:16px;
  }
  .logo-content {
	  display: none;
  }
  ul.menu {
	  padding:0px!important;
  }
  .menu li a {
	  font-size:12px;
  }
  .btn-right li a {
	  font-size:12px;
  }
  .btn-right {
	  margin-right: -38px!important;
	 }
.submenu {
	width: 85%;
	padding: 0px;
	margin-left: -120px;
}
.rechercher-section
{
	margin-top: 30px;
}
.rechercher-section input[type="text"]
{
	width: 65%;
}
.rechercher
{
	width: 25%;
	height: 40px;
	font-size: 15px!important;
}

section.rechercher-section form {
	width: 100%;
	left: 0;
}

article.right-article {
	margin-top:10px;
	width: 95%;
	float: left;
	padding: 10px;
}
article.right-article h3{
	font-size:15px;
}
article.right-article b{
	font-size:15px;
}
article.left-article {
    width: 100%;
    float: left;
}
article.rend-absolute-section h3
{
	font-size: 18px;
}
article.rend-absolute-section p
{
	font-size: 15px;
	width: 50%;
}
article.rend-absolute-section a
{
	font-size:12px;
}
section.certification-section p
{
	font-size: 18px;
}
article.rend-absolute-section {
    position: absolute;
    background-color: #000000b3;
    width: 100%;
    height: 400px;
    text-align: center;
    color: #fff;
}
section.rend-section {
    height: 400px;
}
article.left-formation {
	width: 90%;
	left: 10px;
}
article.canter-formation {
	width:78%;
    left: 22%;
}
article.right-formation {
	width: 90%;
	left: 10px;
	float: left;
}
section.devops-section {
    height: 335px;
}
section.devops-section p {
    font-size: 15px;
}
section.teach-section {
    margin: 40px 0 0 0;
    float: left;
}
article.modalites-article {
    float: left;
    width: 95%;
    padding: 0;
    margin: 10px;
    left: 0%;
}
section.modalites-section {
	height: 990px;
}
article.left-contact {
	display:none;
}
article.right-contact {
    float: left;
    width: 80%;
    margin: 10px;
}
.contact-row {
    width: 120%;
    padding: 5px;
}
article.right-contact input[type="email"] {
    border: 1px solid #22222226;
    height: 40px;
    width: 370px;
    padding-left: 10px;
}

article.right-contact input[type="text"] {
    border: 1px solid #22222226;
    height: 40px;
    width: 370px;
    padding-left: 10px;
}

article.right-contact textarea {
    border: 1px solid #22222226;
    height: 40px;
    width: 370px;
    padding-left: 10px;
}
section.teach-section img {
    left: 33%;
    top: 0px;
}
section.contact-section button {
    margin: 15px -47px 0 0;
}
article.left-article img {
    top: 5px;
}
.footer-copyright {
	margin-top: 60px;
}
.footer-col {
    height: 8em;
    padding: 35px 22px 35px 22px;
}
.footer-copyright h4 {
	font-size:14px;
}
.footer-col {
    width: 25em;
    float: left;
    padding: 15px 22px 15px 22px;
}
.footer-col img {
    bottom: 195px;
    left: 25px;
}
section.signup-section {
    left: 2%;
    width: 95%;
    margin-bottom: 127px;
    margin-top: 20px;
}
section.login-section {
    left: 2%;
    width: 95%;
    margin-bottom: 127px;
    margin-top: 20px;
}

}
/* fin media screen 600px =< */

/* début media screen >=601px & =< 1287px */
@media (min-width: 601px) and (max-width: 1287px) {
  .navbar {
    width: 100%;
  }
  .text-content {
	  font-size: 1.5vw;
	  width: 35vw;
	 }
  .logo-content {
	  /* display: none; */
	 }
  ul.menu {
	  padding:0px!important;
  }
  .menu li a {
	  font-size:12px;
  }
  .btn-right li a {
	  font-size:12px;
  }
  .btn-right {
	  margin-right: -38px!important;
	 }
.submenu {
	width: 85%;
	padding: 0px;
	margin-left: -120px;
}
.rechercher-section
{
	margin-top: 30px;
}
.rechercher-section input[type="text"]
{
	width: 65%;
}
.rechercher
{
	width: 25%;
	height: 40px;
	font-size: 15px!important;
}

section.rechercher-section form {
	width: 100%;
	left: 0;
}

/************/
article.right-article {
	margin-top:10px;
	width: 50%;
	float: right;
	padding: 10px;
}
article.right-article h3{
	font-size:15px;
}
article.right-article b{
	font-size:15px;
}
article.left-article {
    width: 40%;
    float: left;
}
/*************/
article.rend-absolute-section h3
{
	font-size: 18px;
}
article.rend-absolute-section p
{
	font-size: 15px;
	width: 50%;
}
article.rend-absolute-section a
{
	font-size:12px;
}
section.certification-section p
{
	font-size: 18px;
}
article.rend-absolute-section {
    position: absolute;
    background-color: #000000b3;
    width: 100%;
    height: 400px;
    text-align: center;
    color: #fff;
}
section.rend-section {
    height: 400px;
}
article.left-formation {
	width: 30vw;
	left: 10px;
}
article.canter-formation {
	width: 22vw;
	left: 5vw;
}
article.right-formation {
	width: 30vw;
	right: 10px;
	float: right;
}
section.devops-section {
    height: 335px;
}
section.devops-section p {
    font-size: 15px;
}
section.teach-section {
    margin: 40px 0 0 0;
    float: left;
}
article.modalites-article {
    float: left;
    width: 95%;
    padding: 0;
    margin: 10px;
    left: 0%;
}
section.modalites-section {
	height: 840px;
}
article.left-contact {
	display:none;
}
article.right-contact {
    float: left;
    width: 90vw;
    margin-left: 40px;
}
.contact-row {
    width: 90vw;
    padding: 5px;
}
article.right-contact input[type="email"] {
    border: 1px solid #22222226;
    height: 40px;
    width: 75vw;
    padding-left: 10px;
}

article.right-contact input[type="text"] {
    border: 1px solid #22222226;
    height: 40px;
    width: 75vw;
    padding-left: 10px;
}

article.right-contact textarea {
    border: 1px solid #22222226;
    height: 40px;
    width: 75vw;
    padding-left: 10px;
}
section.teach-section img {
    left: 33%;
    top: 0px;
}
section.contact-section button {
    margin: 15px 45px 0 0;
}
article.left-article img {
    top: 5px;
}
.footer-copyright {
	margin-top: 60px;
}
.footer-col {
    height: 8em;
    padding: 35px 22px 35px 22px;
}
.footer-copyright h4 {
	font-size:14px;
}
.footer-col {
    width: 25em;
    float: left;
    padding: 15px 22px 15px 22px;
}
.footer-col img {
    bottom: 195px;
    left: 25px;
}
article.canter-formation img {
    max-width: 100%;
}
.logo-content img {
    max-width: 36vw;
    position: relative;
    bottom: 8vw;
}

section.signup-section {
    left: 2%;
    width: 95%;
    margin-bottom: 127px;
    margin-top: 20px;
}
section.login-section  {
    left: 2%;
    width: 95%;
    margin-bottom: 127px;
    margin-top: 20px;
}
}
/* fin media screen >=601px & =< 1287px */